
span{
    color: orange;
}
body{
    margin-left:4% ;
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 50px;
    color: gray;
}
p{
    color: gray;
}
.first-section{
    display: flex;
}
.width-set{
    width: 50%;
}
.width-set img{
    width: 70%;
}
.button{
    background-color: orange;
    text-decoration: none;
    color: white;
    border-radius: 10%;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
}